[submodule "FuzzyLite/fuzzylite"]
	path = FuzzyLite/fuzzylite
	url = https://github.com/9matan/fuzzylite.git
[submodule "code/FuzzyLite/fuzzylite"]
	path = code/FuzzyLite/fuzzylite
	url = https://github.com/9matan/fuzzylite.git
